/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist-Regular';
}

p,
h2,
h3,
h4 {
  margin: 0;
}

/* color Variables */

:root {

  --grey08: #141414;
  --grey10: #1A1A1A;
  --grey15: #262626;
  --grey30: #4D4D4D;
  --grey40: #666666;
  --grey60: #999999;
  --primary-color: #FFFFFF;
  --purple60: #703BF7;
  --purple75: #A685FA;
}

/* Urbanist Fonts */

@font-face {
  font-family: 'Urbanist-ExtraBold';
  src: url('./assets/fonts/Urbanist/static/Urbanist-ExtraBold.ttf');
}

@font-face {
  font-family: 'Urbanist-Medium';
  src: url('./assets/fonts/Urbanist/static/Urbanist-Medium.ttf');
}

@font-face {
  font-family: 'Urbanist-Regular';
  src: url('./assets/fonts/Urbanist/static/Urbanist-Regular.ttf');
}

@font-face {
  font-family: 'Urbanist-SemiBold';
  src: url('./assets/fonts/Urbanist/static/Urbanist-SemiBold.ttf');
}


/* custom css */